# Ignore everything in the root directory
*
# Except the .gitignore file itself
!.gitignore

# Except the python files
!*.py

# Except the qdrant folder and its contents
!qdrant/
!qdrant/config.yaml
!qdrant/qdrant-x86_64-pc-windows-msvc.zip