# Ignore everything in the root directory
*
.env

# Except the .gitignore file itself
!.gitignore

# Except the qdrant folder and its contents
!qdrant/
!qdrant/config.yaml
!qdrant/qdrant-x86_64-pc-windows-msvc.zip

# Except the folder
!DataCollection/
!DataCollection/*.py

!demo/
!demo/*.py

!STT/
!STT/*.py

!TTS/
!TTS/*.py

!TTT/
!TTT/*.py

