# Ignore everything in the root directory
*
.env

# Except the .gitignore file itself
!.gitignore

# Except the folder
!DataCollection/
!DataCollection/*.py

!src/
src/demo/

!src/routes/
!src/routes/*.py

!src/utils/
!src/utils/*.py

!src/services/

!src/services/STT/
!src/services/STT/*.py

!src/services/TTS/
!src/services/TTS/*.py
!src/services/TTS/*.wav
!src/services/TTS/*.txt

!src/services/TTT/
!src/services/TTT/*.py

!src/ui/
!src/ui/*.html
!src/ui/*.css
!src/ui/*.js

!main.py

!Dockerfile
!docker-compose.yml
!requirements.txt
!.dockerignore



